body {
  background-color: #082B59;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  line-height: 2;
}

h1,
h2,
h3 {
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 2rem;
  margin-bottom: 0;
}

/* make images flexible */
img {
  max-width: 100%;
}

a {
  color: #59331d;
}

a:hover {
  text-decoration: none;
}

header {
  border-bottom: 10px solid #d98555;
}

/* navbar styling */
nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}

nav li {
  margin: 0 1rem 1rem 1rem;
  font-size: 1.3rem;
}

/* max width on the image in pixels */
nav .logo img {
  max-width: 200px;
  padding: 20px;
}

/* flex basis on the image container, li */
nav .logo {
  flex-basis: 76%;
  text-align: left;
}

nav a {
  color: white;
  text-decoration: none;
  display: block;
}

nav a:hover {
  color: #d98555;
}

/* establishes a white background */
.main-bkgd {
  background: #ffffff url(https://assets.codepen.io/6306176/gulp-bean-bkgd.jpg) repeat-x bottom;
  padding-bottom: 300px;
}

/* sits inside of the white background, centered */
.main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

article {
  flex-basis: 50%;
}

article p {
  line-height: 2;
}

picture {
  margin: 3rem 0 0 0;
  flex-basis: 45%;
  align-content: center;
}

picture img {
  border-radius: 10px;
  flex-basis: 100%;
  align-items: center;
  justify-content: center;
}

figcaption {
  display: none;
  color: #f2f2f2;
  padding: 0.5rem;
}

.button {
  display: inline-block;
  background-color: #59331D;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  margin: 0;
  color: #f2f2f2;
  text-decoration: none;
  border: 3px solid #59331d;
}

.button:hover {
  background-color: #f2f2f2;
  color: #59331d;
}

footer {
  color: #f2f2f2;
  text-align: center;
}

footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

footer a {
  color: #f2f2f2;
  font-size: 2rem;
  display: block;
  margin: 0 1rem 3rem 1rem;
}

/*----------------Grid Area for Product----------------*/
.gridArea {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.grid {
  justify-content: center;
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 25px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "beans-img beans triple-img" "triple light-img light";
}

.gridArea img {
  border-radius: 10px;
  margin-top: 0px;
}

.beans-img {
  grid-area: beans-img;
  background-repeat: no-repeat;
  align-content: space-around;
}

.beans {
  grid-area: beans;
  padding: 5%;
  border-radius: 8px;
}

.triple-img {
  grid-area: triple-img;
  background-repeat: no-repeat;
  align-content: space-around;
}

.triple {
  grid-area: triple;
  padding: 5%;
  border-radius: 8px;
}

.light-img {
  grid-area: light-img;
  background-repeat: no-repeat;
  align-content: space-around;
}

.light {
  grid-area: light;
  padding: 5%;
  border-radius: 8px;
}

/*----------------Contact Page----------------*/
.contact {
  flex-basis: 50%;
  align-content: center;
}

.contactImage img {
  border-radius: 10px;
}

.contactImage {
  margin: 3rem 0 0 0;
  flex-basis: 45%;
  align-content: center;
}

/*----------------Home Page----------------*/

.photo-container {
  display: block;
  position: relative;
  float: right;
  overflow: hidden;
  margin: 0px;
}

.z {
  display: block;
  width: 1200px;
  height: 20rem;
  object-fit: cover;
}

.text {
  position: relative;
  font-size: larger;
  font-weight: 400;
  top: 87%;
  color: #f2f2f2;
  height: 50px;
  text-align: center;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 1));
}


.quote {
  flex-basis: 100%;
  text-align: center;
  font-style: italic;
}

.quote p {
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  color: #d98555;
  font-weight: 400;
}

.CTAbanner {
  margin-top: -70px;
}

.CTAbanner__wrapper {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  padding: 2rem;
  justify-content: space-between;
}

.Bannerimage {
  flex-basis: 50%;
  width: 50%;
  float: left;
  object-fit: cover;
  text-align: center;
}

.Bannercontent {
  flex-basis: 40%;
  padding: 5%;
  font-size: larger;
}

.CTA {
  display: inline-block;
  background-color: #59331D;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  margin: 0;
  color: #f2f2f2;
  text-decoration: none;
  border: 3px solid #59331d;
}

.CTA:hover {
  background-color: #f2f2f2;
  color: #59331d;
}

.homeLogo {
  flex-basis: 36%;
  margin-top: 30px;
  object-fit: contain;
  text-align: center;
}


@media only screen and (min-width:1200px) {
  article {
    flex-basis: 70%;
  }

  picture {
    flex-basis: 25%;
  }

  figcaption {
    color: #f2f2f2;
    padding: 0.5rem;
  }

  nav .logo {
    flex-basis: 60%;
    text-align: left;
  }

  nav ul {
    justify-content: center;
  }
}

/*----------------Samsung Galaxy Tab S4----------------*/

@media only screen and (min-width: 413px) and (max-width: 1200px) {
  article {
    flex-basis: 65%;
  }

  nav ul {
    justify-content: center;
  }

  picture {
    flex-basis: 30%;
    align-content: center;
  }

  nav .logo img {
    max-width: 200px;
    padding: 20px;
  }

  figcaption {
    color: #f2f2f2;
    padding: 0.5rem;
  }

  .grid {
    grid-template-rows: 1fr 1fr 1fr;
    gap: 25px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "beans-img beans"
      "triple-img triple"
      "light-img light";
  }

  .contact{
    flex-basis: 50%;
  }

  .contactImage{
    flex-basis: 50%;
  }

  .gridArea img {
    border-radius: 10px;
  }

  nav .logo {
    flex-basis: 100%;
    text-align: center;
  }

  .quote br {
    display: none;
  }

  .Bannerimage {
    flex-basis: 100%;
    height: 24rem;
    object-fit: cover;
  }

  .Bannercontent {
    flex-basis: 100%;
  }

}

/*----------------Pixel 7----------------*/

@media (max-width: 413px) {
  article {
    flex-basis: 100%;
  }

  picture {
    flex-basis: 100%;
  }

  nav ul {
    padding-left: 25%;
    padding-right: 25%;
    justify-content: center;
  }

  nav .logo img {
    max-width: 200px;
    float: none;
    padding: 20px;
  }

  .grid {
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px;
    grid-template-columns: 1fr;
    grid-template-areas:
      "beans-img" "beans"
      "triple-img" "triple"
      "light-img" "light";
  }

  .gridArea img {
    border-radius: 10px;
  }

  .contact {
    flex-basis: 100%;
  }

  .contactImage {
    margin: 0;
    flex-basis: 100%;
    object-fit: contain;
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
    align-content: center;
  }

  .Bannerimage {
    flex-basis: 100%;
    height: 20rem;
    object-fit: cover;
  }

  .Bannercontent {
    flex-basis: 100%;
  }

  .quote br {
    display: none;
  }
}